<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>College</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav ">
        <%for(i=0;i<nav.length;i++){if(i==2){%>
        <li class="nav-item">
          <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
        </li>
        <% } else if(i==0){ %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/courses" role="button" aria-haspopup="true" aria-expanded="false"><%=nav[i].title%></a>
          <div class="dropdown-menu navbar-bright">
            <a class="dropdown-item" href="/course/1">CSE</a>
            <a class="dropdown-item" href="/course/2">EEE</a>
            <a class="dropdown-item" href="/course/3">ECE</a>
            <a class="dropdown-item" href="/course/4">ME</a>
        </li>
        <% } else{ %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/departments" role="button" aria-haspopup="true" aria-expanded="false"><%=nav[i].title%></a>
          <div class="dropdown-menu navbar-bright">
            <a class="dropdown-item" href="/department/1">CSE</a>
            <a class="dropdown-item" href="/department/2">EEE</a>
            <a class="dropdown-item" href="/department/3">ECE</a>
            <a class="dropdown-item" href="/department/4">ME</a>
        </li>
        <% }} %>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Vimal Jyothi Engineering College
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/img/VJEC_chemperi.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h4>To bloom into a Center of Excellence for Technical Education and a pace-setter in rural India with its quality processes and procedures, interwoven with freedom of flexibility.</h4>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Vision</span></h4><h4>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/img/VJEC_chemperi.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h4>To prepare the students to see beyond geographical limit and belong to a new age of acquisition and application of technology to meet the challenges of the changing world.</h4>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Mission</span></h4><h4>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
                  
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/img/VJEC_chemperi.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h4>VJEC is committed to provide quality education in engineering and technology, to transform the youth into committed technical personal for the social and economical.</h4>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Quality Control</span></h4><h4>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/img/VJEC_chemperi.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Post Graduate Programs</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">M.Tech</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">Control & Instrumentation,
                    Communication Engineering & Signal Processing,
                    Computer Science & Engineering,
                    Power Electronics,
                    Structural Engineering & Construction Management,
                    Thermal Enggineering 
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/img/VJEC_chemperi.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Under Graduate Programs</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">B.Tech</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">Applied Electronics & Instrumentation Engineering , Civil Engineering , Computer Science & Engineering
                    Electrical & Electronics Engineering,
                    Electronics & Communication Engineering,
                    Mechanical Engineering</small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <!--/stories-->
          
          
          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
  <!-- script references -->
   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>